In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('./extracted/energy_iter9.csv')

df["Date"]=pd.to_datetime(df["Date"])

In [4]:
df.describe()

,Date,DayPeakGen(MW),EveningPeakGen(MW),MaxDemand(MW),MaxGen(MW),Temp(C),Year,Month
count,1644,1644.000000,1644.000000,1644.000000,1644.000000,1644.000000,1644.000000,1644.000000
mean,2022-09-11 14:00:52.554744832,12774.193431,14120.095499,12282.137470,14120.095499,27.233090,2022.167883,6.858881
min,2020-06-02 00:00:00,7966.000000,9482.000000,7800.000000,9482.000000,14.000000,2020.000000,1.000000
25%,2021-07-20 18:00:00,11818.000000,13169.750000,10600.000000,13169.750000,24.800000,2021.000000,4.000000
50%,2022-09-09 12:00:00,13042.000000,14440.500000,12400.000000,14440.500000,28.600000,2022.000000,7.000000
75%,2023-10-29 06:00:00,13925.500000,15200.250000,13900.000000,15200.250000,30.000000,2023.000000,10.000000
max,2024-12-31 00:00:00,16463.000000,17638.000000,17300.000000,17638.000000,33.800000,2024.000000,12.000000
std,NaN,1622.972287,1532.989559,1979.530122,1532.989559,3.811737,1.332597,3.405918

# **Remove Outliers**

In [5]:
# Temperature
Q1 = df["Temp(C)"].quantile(0.25)
Q3 = df["Temp(C)"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

for i in range (100):
  outliers =(df['Temp(C)']<lower_bound) | (df['Temp(C)']>upper_bound)

  if not outliers.any():
    print(f"break loop")
    break

df["Temp(C)"]=df['Temp(C)'].mask(outliers,df['Temp(C)'].rolling(window=10,center=True,min_periods=1).mean())

In [6]:
#Temperature outlier check after removal

Q1 = df["Temp(C)"].quantile(0.25)
Q3 = df["Temp(C)"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = df[(df["Temp(C)"] < lower_bound) | (df["Temp(C)"] > upper_bound)]
num_outliers = outliers.shape[0]
print(f"Number of outliers in Temp(C): {num_outliers}")

Number of outliers in Temp(C): 5

In [8]:
# Maxgeneration

Q1 = df["MaxGen(MW)"].quantile(0.25)
Q3 = df["MaxGen(MW)"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

for i in range (100):
  outliers =(df['MaxGen(MW)']<lower_bound) | (df['MaxGen(MW)']>upper_bound)

  if not outliers.any():
    print(f"break loop")
    break

df["MaxGen(MW)"]=df['MaxGen(MW)'].mask(outliers,df['MaxGen(MW)'].rolling(window=7,center=True,min_periods=1).mean())

In [9]:
#Max Generation outlier check after removal

Q1 = df["MaxGen(MW)"].quantile(0.25)
Q3 = df["MaxGen(MW)"].quantile(0.75)
IQR = Q3 - Q1


lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = df[(df["MaxGen(MW)"] < lower_bound) | (df["MaxGen(MW)"] > upper_bound)]
num_outliers = outliers.shape[0]
print(f"Number of outliers in MaxGen(MW): {num_outliers}")

Number of outliers in MaxGen(MW): 10

In [11]:
#Day Peak Generation

Q1 = df["DayPeakGen(MW)"].quantile(0.25)
Q3 = df["DayPeakGen(MW)"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

for i in range (100):
  outliers =(df['DayPeakGen(MW)']<lower_bound) | (df['DayPeakGen(MW)']>upper_bound)

  if not outliers.any():
    print(f"break loop")
    break

df["DayPeakGen(MW)"]=df['DayPeakGen(MW)'].mask(outliers,df['DayPeakGen(MW)'].rolling(window=7,center=True,min_periods=1).mean())

In [12]:
#Day Peak Generation outlier check after removal

Q1 = df["DayPeakGen(MW)"].quantile(0.25)
Q3 = df["DayPeakGen(MW)"].quantile(0.75)
IQR = Q3 - Q1


lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = df[(df["DayPeakGen(MW)"] < lower_bound) | (df["DayPeakGen(MW)"] > upper_bound)]
num_outliers = outliers.shape[0]
print(f"Number of outliers in DayPeakGen(MW): {num_outliers}")

Number of outliers in DayPeakGen(MW): 15

In [14]:
#Evening Peak Generation

Q1 = df["EveningPeakGen(MW)"].quantile(0.25)
Q3 = df["EveningPeakGen(MW)"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

for i in range (100):
  outliers =(df['EveningPeakGen(MW)']<lower_bound) | (df['EveningPeakGen(MW)']>upper_bound)

  if not outliers.any():
    print(f"break loop")
    break

df["EveningPeakGen(MW)"]=df['EveningPeakGen(MW)'].mask(outliers,df['EveningPeakGen(MW)'].rolling(window=7,center=True,min_periods=1).mean())

In [15]:
#Evening Peak Generation outlier check after removal

Q1 = df["EveningPeakGen(MW)"].quantile(0.25)
Q3 = df["EveningPeakGen(MW)"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR


# Identify outliers
outliers = df[(df["EveningPeakGen(MW)"] < lower_bound) | (df["EveningPeakGen(MW)"] > upper_bound)]
num_outliers = outliers.shape[0]
print(f"Number of outliers EveningPeakGen(MW): {num_outliers}")

Number of outliers EveningPeakGen(MW): 10

In [17]:
df.describe()

,Date,DayPeakGen(MW),EveningPeakGen(MW),MaxDemand(MW),MaxGen(MW),Temp(C),Year,Month
count,1644,1644.000000,1644.000000,1644.000000,1644.000000,1644.000000,1644.000000,1644.000000
mean,2022-09-11 14:00:52.554744832,12778.675443,14121.936740,12282.137470,14121.936740,27.245894,2022.167883,6.858881
min,2020-06-02 00:00:00,8276.285714,9722.142857,7800.000000,9722.142857,16.410000,2020.000000,1.000000
25%,2021-07-20 18:00:00,11818.000000,13169.750000,10600.000000,13169.750000,24.800000,2021.000000,4.000000
50%,2022-09-09 12:00:00,13042.000000,14440.500000,12400.000000,14440.500000,28.600000,2022.000000,7.000000
75%,2023-10-29 06:00:00,13925.500000,15200.250000,13900.000000,15200.250000,30.000000,2023.000000,10.000000
max,2024-12-31 00:00:00,16463.000000,17638.000000,17300.000000,17638.000000,33.800000,2024.000000,12.000000
std,NaN,1611.517488,1528.055271,1979.530122,1528.055271,3.776365,1.332597,3.405918

# **Encdoing**

In [18]:
#Season
#Label Encoding(Binary)
df['Season']=df['Season'].map({'highTempSeason':1,'lowTempSeason':0})

In [19]:
#IsHoliday
#Label Encoding(Binary)
df['IsHoliday']=df['IsHoliday'].map({'Yes':1,'No':0})

In [20]:
df.tail()

,Date,DayPeakGen(MW),EveningPeakGen(MW),MaxDemand(MW),MaxGen(MW),Temp(C),Year,Month,Season,IsHoliday
1639,2020-06-06,12613.0,15053.0,10800,15053.0,28.8,2020,6,1,0
1640,2020-06-05,12511.0,15065.0,9000,15065.0,28.3,2020,6,1,1
1641,2020-06-04,12390.0,15053.0,11000,15053.0,27.6,2020,6,1,0
1642,2020-06-03,12258.0,14747.0,11000,14747.0,28.9,2020,6,1,0
1643,2020-06-02,11700.0,14765.0,11000,14765.0,29.5,2020,6,1,0

In [21]:
#save dataset
df.to_csv('./extracted/energy_iter10.csv',index=False)
print("saved with clean data")

saved with clean data