In [6]:
import pandas as pd
import numpy as np

### Store the extracted data in a dataframe:

In [7]:
df = pd.read_csv('extracted_energy_data.csv')
df

,File_Name,Report_Date,Day_ProbPeakGen(MW),Evening_ProbPeakGen(MW),ProbMaxDemand(MW),ProbMaxGen(MW)
0,6337report.pdf,24.07.22,11242,12313,14000,12313
1,summary_20240929_20240929124426.pdf,29.09.24,15385,16444,15500,16444
2,6792report.pdf,09.03.23,11719,13729,12600,13729
3,6876report.pdf,20.04.23,14150,16030,15500,16030
4,6047report.pdf,03.03.22,11775,12360,10800,12360
...,...,...,...,...,...,...
1672,6977report.pdf,09.06.23,13382,15216,14500,15216
1673,6146report.pdf,22.04.22,14590,15340,13000,15340
1674,4972report.pdf,13.09.20,13985,15100,12700,15100
1675,6693report.pdf,18.01.23,8166,9629,10300,9629
1676,6370report.pdf,10.08.22,10805,13200,13800,13200

### Convert the data to a datetime format, then sort in descending order:

In [9]:
df['Report_Date'] = pd.to_datetime(df['Report_Date'], format='%d.%m.%y')
df = df.sort_values(by='Report_Date', ascending=False).reset_index(drop=True)
df

,File_Name,Report_Date,Day_ProbPeakGen(MW),Evening_ProbPeakGen(MW),ProbMaxDemand(MW),ProbMaxGen(MW)
0,summary_20241231_20250101203159.pdf,2024-12-31,14543,14949,10600,14949
1,7409report.pdf,2024-12-31,10596,11883,10100,11883
2,summary_20241230_20241231114550.pdf,2024-12-30,13760,15475,10800,15475
3,summary_20241229_20241229124203.pdf,2024-12-29,14372,14729,10800,14729
4,summary_20241228_20241228220937.pdf,2024-12-28,14138,14492,9850,14492
...,...,...,...,...,...,...
1672,4397report.pdf,2019-11-26,12321,14675,9000,14675
1673,4396report.pdf,2019-11-25,12271,14625,9000,14625
1674,4395report.pdf,2019-11-24,12228,14893,7200,14893
1675,4394report.pdf,2019-11-23,12230,15020,8500,15020
1676,4393report.pdf,2019-11-22,12691,15215,8000,15215

### Drop unnecessary rows, change datetime format:

In [10]:
df = df.drop(columns=['File_Name'])
df['Report_Date'] = df['Report_Date'].dt.strftime('%d-%m-%Y')
df

,Report_Date,Day_ProbPeakGen(MW),Evening_ProbPeakGen(MW),ProbMaxDemand(MW),ProbMaxGen(MW)
0,31-12-2024,14543,14949,10600,14949
1,31-12-2024,10596,11883,10100,11883
2,30-12-2024,13760,15475,10800,15475
3,29-12-2024,14372,14729,10800,14729
4,28-12-2024,14138,14492,9850,14492
...,...,...,...,...,...
1672,26-11-2019,12321,14675,9000,14675
1673,25-11-2019,12271,14625,9000,14625
1674,24-11-2019,12228,14893,7200,14893
1675,23-11-2019,12230,15020,8500,15020
1676,22-11-2019,12691,15215,8000,15215

In [11]:
df.to_csv('cleaned_energy_datewise.csv', index=False)

### Cleanup up data is saved in a different csv, to be used later.