In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('./extracted/energy_iter6.csv')
df

,Date,DayPeakGen(MW),EvePeakGen(MW),MaxDem(MW),MaxGen(MW),Temp(C),Year,Month,Season,IsHoliday
0,2024-12-31,14543,14949,10600,14949,18.7,2024,12,Winter,No
1,2024-12-31,10596,11883,10100,11883,18.7,2024,12,Winter,No
2,2024-12-30,13760,15475,10800,15475,21.8,2024,12,Winter,No
3,2024-12-29,14372,14729,10800,14729,21.2,2024,12,Winter,No
4,2024-12-28,14138,14492,9850,14492,21.2,2024,12,Winter,No
...,...,...,...,...,...,...,...,...,...,...
1652,2020-06-06,12613,15053,10800,15053,28.8,2020,6,Monsoon,No
1653,2020-06-05,12511,15065,9000,15065,28.3,2020,6,Monsoon,Yes
1654,2020-06-04,12390,15053,11000,15053,27.6,2020,6,Monsoon,No
1655,2020-06-03,12258,14747,11000,14747,28.9,2020,6,Monsoon,No
1656,2020-06-02,11700,14765,11000,14765,29.5,2020,6,Monsoon,No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1657 entries, 0 to 1656
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1657 non-null   object
 1   DayPeakGen(MW)  1657 non-null   int64
 2   EvePeakGen(MW)  1657 non-null   int64
 3   MaxDem(MW)      1657 non-null   int64
 4   MaxGen(MW)      1657 non-null   int64
 5   Temp(C)         1657 non-null   float64
 6   Year            1657 non-null   int64
 7   Month           1657 non-null   int64
 8   Season          1657 non-null   object
 9   IsHoliday       1657 non-null   object
dtypes: float64(1), int64(6), object(3)
memory usage: 129.6+ KB